<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
<div class="login-page">
  <div class="form">
    <h1> Welcome <%= username %> to the Page</h1>
    <a href="/logout">Logout</a>
  </div>
</div>